<div class="flex-container">
    <div class="card-holder">
        <mat-card class="signup-card">
            <a href="#" class="float-right" routerLink="/login" routerLinkActive="true">Login</a>
            <mat-card-title>Sign Up</mat-card-title>
            <form [formGroup]="signUpForm" (ngSubmit)="submit()">
                <mat-form-field>
                    <mat-label>Aadhar number</mat-label>
                    <input matInput placeholder="xxxxxxxxxxxx" formControlName="aadhar_no">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Name (As per Aadhar)</mat-label>
                    <input matInput placeholder="Abc" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone (As per Aadhar)</mat-label>
                    <input matInput placeholder="9999999999" formControlName="phone">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email (As per Aadhar)</mat-label>
                    <input matInput placeholder="abc@xy.com" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirm_password" type="password">
                </mat-form-field>
                <input type="file" id="file" formControlName="upload_image" accept="image/*" style="width: 100%;margin-bottom: 10px;">
                    <button *ngIf="!displayOTPSection" mat-raised-button color="primary" (click)="isShowOTPSection(signUpForm.value)">Sign Up</button>
                    <div *ngIf="displayOTPSection">
                        <mat-form-field *ngIf="displayOTPSection">
                            <mat-label>OTP</mat-label>
                            <input matInput formControlName="otp">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="verifyOTP(signUpForm.value)">Verify</button>
                    </div>
            </form>
        </mat-card>
    </div>
</div>